@media screen and (max-width: 992px) {
    .no-mp{
        margin:0 ! important;
        padding:0 ! important;
    }
    body {
        background-color: #202020;
        background-image: url('bg.svg');
        background-size: 100%;
        background-position: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: #202020;
        z-index: 2;
        position: fixed;
        overflow: hidden;
    }
    .loader {
        display: flex;
        width: 200px;
        height: 200px;
        animation: loader 2s infinite ease;
        position: relative;
    }
    @keyframes loader {
        0% {
            transform: scale(0.5);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(0.5);
        }
    }
    .navbar {
       position: fixed;
       z-index: 1; 
       width: 100%;
    }
    #banner {
        margin: 0;
        background-image: url('https://imgur.com/wHwpVFZ.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 500px;
    }
    #banner-logo {
        margin-top: 170px;
        margin-bottom: 13px;
        width: 400px;
    }
    #banner-text {
        max-width: 360px;
    }
    #destaque {
        margin-top: 60px;
    }
    #destaque .row {
        margin-top: 40px;
    }
    h3 {
        color: #b98a52;
        text-align: center;
        margin-top: 20px;
    }
    #areas-atuacao {
        text-align: center;
        color: #b98a52;
        margin-top: 60px;
        padding-bottom: 30px;
    }
    #areas-bg {
        background-color: #252525;
        padding: 20px;
    }
    #areas-bg h5 {
        color: #b98a52;
    }
    #contato {
        margin: 0;
        height: 620px;
        background-image: url('https://imgur.com/rZ3mQ3t.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #contato-bg {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #contato-items {
        padding: 20px;
        background-color: rgba(20, 20, 20, 0.99);
    }
    #contato-items a{
        text-decoration: none;
        color: #FFF;
    }
    #contato-title {
        color: #b98a52;
        font-size: 25px;
        font-weight: bold;
    }
    #map-icon {
        max-width: 25px;
        margin-top: -10px;
        margin-left: -5px;
    }
    #time-icon {
        max-width: 20px;
        margin-top: -10px;
    }
    #number-icon {
        max-width: 20px;
        margin-top: -10px;
    }
    #email-icon {
        max-width: 25px;
        margin-top: -10px;
        margin-left: -2px;
    }
    #insta-icon {
        max-width: 20px;
        margin-top: -10px;
    }
    #footer a {
        text-decoration: none;
        color: rgb(178, 178, 178);
    }
    #footer a:hover {
        color: #b98a52;
    }
}
@media screen and (min-width: 992px) {
    .no-mp{
        margin:0 ! important;
        padding:0 ! important;
    }
    body {
        background-image: url('bg.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: #202020;
        z-index: 2;
        position: fixed;
        overflow: hidden;
    }
    .loader {
        display: flex;
        width: 200px;
        height: 200px;
        animation: loader 2s infinite ease;
        position: relative;
    }
    @keyframes loader {
        0% {
            transform: scale(0.5);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(0.5);
        }
    }
    .navbar {
       position: fixed;
       width: 100%;
       z-index: 1;
    }
    #banner {
        margin: 0;
        background-image: url('https://imgur.com/wHwpVFZ.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 600px;
    }
    #banner-logo {
        margin-top: 210px;
        margin-bottom: 13px;
        width: 500px;
    }
    #banner-text {
        max-width: 360px;
    }
    #destaque {
        margin-top: 60px;
    }
    #destaque .row {
        margin-top: 50px;
    }
    h3 {
        color: #b98a52;
        margin-top: 120px;
    }
    #goal-icon {
        max-width: 400px;
    }
    #justice-icon {
        max-width: 400px;
    }
    #team-icon {
        max-width: 450px;
    }
    #areas-atuacao {
        text-align: center;
        color: #b98a52;
        margin-top: 60px;
        padding-bottom: 30px;
    }
    #areas-bg {
        background-color: #252525;
        padding: 20px;
        height: 550px;
    }
    #areas-bg h5 {
        color: #b98a52;
    }
    #contato {
        margin: 0;
        padding: 20px;
        background-image: url('https://imgur.com/rZ3mQ3t.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #contato-items {
        padding: 20px;
        background-color: rgba(20, 20, 20, 0.99);
    }
    #contato-items a{
        text-decoration: none;
        color: #FFF;
    }
    #contato-title {
        color: #b98a52;
        font-size: 25px;
        font-weight: bold;
    }
    #map-icon {
        max-width: 25px;
        margin-top: -10px;
        margin-left: -5px;
    }
    #time-icon {
        max-width: 20px;
        margin-top: -10px;
    }
    #number-icon {
        max-width: 20px;
        margin-top: -10px;
    }
    #email-icon {
        max-width: 25px;
        margin-top: -10px;
        margin-left: -2px;
    }
    #insta-icon {
        max-width: 20px;
        margin-top: -10px;
    }
    #footer {
        padding-top: 15px;
    }
    #footer a {
        text-decoration: none;
        color: rgb(178, 178, 178);
    }
    #footer a:hover {
        color: #b98a52;
    }
    .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
}
